/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1837px;
  width: 74%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.hamburger { 
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 7%;
  top: 20%;
}

.hamburger::after {
  content: '\f0c9';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  font-size: 35px;
  font-family: fontAwesome;
  color: #fff;
}

.hamburger.active::after { content: '\f00d'; }

.hamburger span {
  text-indent: -99999px;
  float: left;
}

header {
  width: 100%; 
  position: relative;
  border-bottom: 10px solid #046296;
}

header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

header a { color: #fff; }

nav { 
  padding: 22px 0;
  background: rgba(0,0,0,.5);
}

header.active { 
  position: fixed;
  z-index: 10;
}
header.active .logo { display: none; }
header.active figure { display: none; }

.logo a {
  margin-top: 50px 0 0 68px;
  font-size: 57px;
  letter-spacing: 3px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.logo-title {
  display: block;
  font-size: 24px;
  letter-spacing: 1px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item { 
  text-align: center;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

.menu-item a { 
  position: relative;
  font-size: 23px; 
}
.menu-item a:hover,
.menu-item a.active { color: #A2C1F0; }

.menu-item a::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  background-color: #53a9d8;
}

.menu-item a:hover::after, 
.menu-item a.active::after { -webkit-transform: scaleX(1); -ms-transform: scaleX(1); transform: scaleX(1); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* welcome section start */

.welcome { color: #666F78; }
.welcome .wrapper { padding: 65px 0 25px; }

.welcome h2 {
  margin: 10px 0;
  font-size: 38px;
}

.welcome p {
  padding: 10px 0;
  font-size: 19px;
  line-height: 30px;
}

.image-gallery {
  padding: 40px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-gallery figure { 
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: ease-in-out .6s;
  -o-transition: ease-in-out .6s;
  transition: ease-in-out .6s;
}

.img-item:hover figure {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

.img-item { 
  margin-bottom: 15px; 
  overflow: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
 }

.img-item:hover { 
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.7);
          box-shadow: 0 0 15px rgba(0,0,0,.7); 
} 

.img-item a figcaption {
  padding-top: 15px;
  text-align: center;
  font-size: 22px;
  color: #666F78;
}

.filter-control {
  width: 40%;
  margin: 39px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btn {
  width: 66px;
  height: 49px;
  margin: 0 8px;
  text-align: center;
  line-height: 49px;
  background-color: #EDEDED;
 }

.filter-btn.active { background-color: #076599; }
.filter-btn.active a { color: #fff; }

.filter-btn a {
  font-size: 22px;
  color: #666F78;
}

/* welcome section end */

/* help section start */
.help .wrapper {
  padding: 40px 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #076599;
}

.help-content { width: 65%; }  

.help h3 {
  font-size: 40px;
  margin: 10px 0;
}

.help p {
  padding-right: 40px;
  font-size: 20px;
  line-height: 34px;
}

.help figure {
  width: 10%;
  height: 100%;
  padding: 35px 0;
  border-radius: 50%;
  overflow: hidden;
}

.help-btn a {
  padding: 13px 45px;
  border: 1px solid #fff;
  margin: 25px 0;
  font-size: 18px;
  color: #fff;
  -webkit-transition: ease .4s;
  -o-transition: ease .4s;
  transition: ease .4s;
}  

.help-btn a:hover { 
  background-color: #fff;
  color: #076599;
}

/* help section end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  text-align: center;
  color: #fff;
  background-color: #333333;
}

footer .wrapper {
  padding: 15px 0;
  font-size: 22px;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 1204px) {

.wrapper { width: 85%; }
.image-gallery { width: 100%; }

.menu-item a:hover,
.menu-item a.active { color: #EDEDED; }

.menu-item a:hover::after, 
.menu-item a.active::after { -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

.img-item:hover { 
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; 
} 

}  

@media only screen and (max-width: 995px) {

header .wrapper { width: 100%; }

.hamburger { 
  display: block;
  z-index: 10;
}
nav { background-color: transparent; }

.menu { 
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
position: absolute;
  z-index: 2;
  background: rgba(0,0,0,.5);
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-transition: ease-in-out .4s;
  -o-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
 }

.menu.active { -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); }

.menu-item { padding: 35px; }

.image-gallery { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.img-item { margin: 0 auto; }

.help .wrapper { 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: column; 
          flex-direction: column;
  text-align: center;
}

.help figure { width: 50%; }

footer .wrapper { font-size: 15px; }
}